* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	cursor: none;
}

.navbar {
	height: 10vh;
}

.menu {
	background-color: #000;
	height: 100vh;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.links {
	margin: 20px 20px;
}

.banner {
	border-top: 2px solid #111;
	border-bottom: 2px solid #111;
	position: relative;
	width: 100%;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #111;
}

.circle-container {
	height: 100vh;
	display: flex;
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
	justify-content: center;
}

.banner-bottom h1 {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

.scroll-down-container {
	position: absolute;
	width: 100%;

	bottom: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.scroll-down {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	height: 100px;
	width: 70px;
	border-radius: 20px;
}

.mouse {
	border: 2px solid #fff;
	height: 63px;
	width: 41px;
	position: absolute;
}

.wheel {
	margin-top: 1em;
	width: 5px;
	background-color: #fff;
	height: 10px;
	position: relative;
}

.cursor {
	background-color: #111;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 5;
}

.cursorWhite {
	background-color: #fff;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 5;
}

.loadingScreen {
	height: 100vh;
}

.projects {
	height: 100vh;
}
